<!DOCTYPE html>
<html lang="en">
<style>
body {
  background-image: url("static/img/tables3.jpeg");
  background-repeat: repeat;
}
    .tables{

 font: 20px arial, sans-serif;
 padding-right:100px;
 padding-left:100px;

 margin-top:30px;
 margin-bottom:40px;

}
h2{
 color:white;
   margin-left:100px;
   bottom:30px;

}
.heading{

  height:50px;
}
.sign-out{
        margin-left:50%;
}

</style>
<head>
    <meta charset="UTF-8">
    <title>Recommendations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/#">FoodFinder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/signin">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<br><br>
<body>
<br><br>
<div class="heading"><h2>Your previous ratings: </h2></div>
        <br>
       <div class="tables">
           <table class="table table-striped table-sm table-dark table-hover">
                <thead class="thead-light">
                  <tr>
                     <th>Restaurant Name</th>
                      <th>Your rating</th>
                  </tr>
                </thead>
        {% set l = user | length %}
        {% for i in range(0,l): %}
            <tr>
                <td>{{user[i]['rest_name']}}</td>
                <td>{{user[i]['cust_rating']}}</td>
            </tr>
        {% endfor %}
         </table>
       </div>
<br><br>
    <div class="heading"><h2>Your top recommendations: </h2></div>
        <br>
       <div class="tables">
           <table class="table table-striped table-sm table-dark table-hover">
                <thead class="thead-light">
                  <tr>
                     <th>Restaurant Name</th>
                      <th>Rating</th>
                  </tr>
                </thead>
        {% set l = final_recommendations | length %}
        {% for i in range(1,l): %}
            <tr>
                <td>{{final_recommendations[i]['rest_name']}}</td>
                <td>{{final_recommendations[i]['rating']}}</td>
            </tr>
        {% endfor %}
         </table>
       </div>

<!--      <div class="sign-out">-->
<!--       <a href="/#" class="btn btn-secondary btn-lg">-->
<!--                <span class="network-name">  Sign out   </span>-->
<!--       </a>-->
<!--      </div>-->
</body>
</html>